@model GraniteHouse.Models.SpecialTags
@{
    ViewData["Title"] = "Delete";
}

<br />
<h2>Delete</h2>
<hr />

<div class="p-4 border rounded">
    <form method="post" asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Name">Name:</label>
            </div>
            <div class="col-5 form-control">
                @Html.DisplayFor(model => model.Name)
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-outline-danger" asp-route-id="@Model.Id" value="Delete" />
            <a asp-action="Index" class="btn btn-outline-success">Back to List</a>
        </div>
    </form>
</div>